<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieShareCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/scss/bootstrap.custom.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/sidebar.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
        #loader {
            transition: all 0.3s ease-in-out;
            opacity: 1;
            visibility: visible;
            position: fixed;
            height: 100vh;
            width: 100%;
            background: #fff;
            z-index: 90000;
        }

            #loader.fadeOut {
                opacity: 0;
                visibility: hidden;
            }

        .spinner {
            width: 40px;
            height: 40px;
            position: absolute;
            top: calc(50% - 20px);
            left: calc(50% - 20px);
            background-color: #0080FF;
            border-radius: 100%;
            -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
            animation: sk-scaleout 1.0s infinite ease-in-out;
        }

        @@-webkit-keyframes sk-scaleout {
            0% {
                -webkit-transform: scale(0)
            }

            100% {
                -webkit-transform: scale(1.0);
                opacity: 0;
            }
        }

        @@keyframes sk-scaleout {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0);
            }

            100% {
                -webkit-transform: scale(1.0);
                transform: scale(1.0);
                opacity: 0;
            }
        }
    </style>
</head>


<body class="app">

    <div id='loader'>
        <div class="spinner"></div>
    </div>

    <script>
        window.addEventListener('load', function load() {
            const loader = document.getElementById('loader');
            setTimeout(function () {
                loader.classList.add('fadeOut');
            }, 300);
        });
    </script>

    <header>
        <!-- ### Topbar Menu ### -->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a id='sidebar-toggle' class="sidebar-toggle" href="javascript:void(0);">
                    <i class="fa fa-bars" style="margin-right: 150px; margin-left: -5px"></i>
                </a>
                <img src="~/img/logos/Camera.png" alt="" class="logo" style="margin-left: 20px;">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MovieShare</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav">
                        <li class="dropdown" style="width: 65px">
                            <a href="" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
                                <div class="peer mR-10" style="padding: 16px">
                                    <img src="~/img/flags/spain.png" class="flag-size" />
                                </div>
                            </a>
                            <ul class="dropdown-menu fsz-sm" style="min-width: 40px">
                                <li>
                                    <a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700 flag-padding">
                                        <img src="~/img/flags/united-kingdom.png" class="flag-size" />
                                    </a>
                                </li>
                                <li>
                                    <a href="email.html" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700 flag-padding">
                                        <img src="~/img/flags/france.png" class="flag-size" />
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700 flag-padding">
                                        <img src="~/img/flags/germany.png" class="flag-size" />
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700 flag-padding">
                                        <img src="~/img/flags/russia.png" class="flag-size" />
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    @*<ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
        </ul>*@
                </div>
            </div>
        </nav>

        <!-- #Left Sidebar ==================== -->
        <div class="sidebar" style="top: 78px; bottom:62px;">
            <div class="sidebar-inner">
                <!-- ### $Sidebar Header ### -->
                @*<div class="sidebar-logo" style="padding:30px; padding-left:25px;">
                    <div class="peers ai-c fxw-nw">
                        <div class="peer peer-greed">
                            <a id='sidebar-toggle' class="sidebar-toggle" href="javascript:void(0);">
                                    <i class="fa fa-bars"></i>
                                </a>
                        </div>
                        <div class="peer">
                            <div class="mobile-toggle sidebar-toggle">
                                <a href="" class="td-n">
                                    <i class="fas fa-arrow-circle-left"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>*@

                <!-- ### $Sidebar Menu ### -->
                <ul class="sidebar-menu scrollable pos-r">
                    <li class="nav-item actived">
                        <a class="sidebar-link" href="index.html">
                            <span class="icon-holder">
                                <i class="c-blue fa fa-home"></i>
                            </span>
                            <span class="title">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='sidebar-link' href="@Url.Action("Index", "Movie")">
                            <span class="icon-holder">
                                <i class="c-green fa fa-film"></i>
                            </span>
                            <span class="title">Movies</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='sidebar-link' href="@Url.Action("Index", "User")">
                            <span class="icon-holder">
                                <i class="c-blue fa fa-users"></i>
                            </span>
                            <span class="title">Users</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='sidebar-link' href="charts.html">
                            <span class="icon-holder">
                                <i class="c-orange fa fa-chart-bar"></i>
                            </span>
                            <span class="title">Charts</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="javascript:void(0);">
                            <span class="icon-holder">
                                <i class="c-green fa fa-table"></i>
                            </span>
                            <span class="title">Tables</span>
                            <span class="arrow">
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class='sidebar-link' href="basic-table.html">
                                    <span class="icon-holder">
                                        <i class="c-green fa fa-table-tennis"></i>
                                    </span>
                                    <span class="title">Basic Table</span>
                                </a>
                            </li>
                            <li>
                                <a class='sidebar-link' href="basic-table.html">
                                    <span class="icon-holder">
                                        <i class="c-green fa fa-tablet"></i>
                                    </span>
                                    <span class="title">Data Table</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="javascript:void(0);">
                            <span class="icon-holder">
                                <i class="c-purple fa fa-map"></i>
                            </span>
                            <span class="title">Maps</span>
                            <span class="arrow">
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="google-maps.html">Google Map</a>
                            </li>
                            <li>
                                <a href="vector-maps.html">Vector Map</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="javascript:void(0);">
                            <span class="icon-holder">
                                <i class="c-teal fa fa-list-alt"></i>
                            </span>
                            <span class="title">Multiple Levels</span>
                            <span class="arrow">
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item dropdown">
                                <a href="javascript:void(0);">
                                    <span class="icon-holder">
                                        <i class="c-teal fa fa-chess-bishop"></i>
                                    </span>
                                    <span>Menu Item</span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="javascript:void(0);">
                                    <span class="icon-holder">
                                        <i class="c-teal fa fa-chess-knight"></i>
                                    </span>
                                    <span>Menu Item</span>
                                    <span class="arrow">
                                        <i class=" fa fa-angle-right"></i>
                                    </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:void(0);">
                                            <span class="icon-holder">
                                                <i class="c-teal fa fa-chess-queen"></i>
                                            </span>
                                            <span>Menu Item</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <span class="icon-holder">
                                                <i class="c-teal fa fa-chess-pawn"></i>
                                            </span>
                                            <span>Menu Item</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - MovieShare - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/sidebar.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
