@model MovieShareCore.ViewModels.MovieViewModel

@{
    ViewData["Title"] = "Details";
}

<ul id="navlist">
    <li><a asp-action="Index">Movie</a></li>
    <li><a asp-action="Details">Details</a></li>
</ul>

<div class="form-create">
    <h1>Movie details!<span>All you need to know!</span></h1>
    <dl class="inner-wrap">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Director)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Budget)
        </dd>
    </dl>
    <div class="form-group action-button">
        <a asp-action="Edit" asp-route-id="@Model.Id"> <input type="button" value="Edit" /></a>
        <a asp-action="Index"><input type="button" value="OK" /></a>
    </div>
</div>


@* TO IMPROVE THE DETAILS VIEW
    <div class="movie_card" id="bright">
        <div class="info_section">
            <div class="movie_header">
                <img class="locandina" src="https://pics.filmaffinity.com/au_hasard_balthazar-875774312-mmed.jpg" />
                <h1>@Html.DisplayFor(model => model.Title)</h1>
                <h4>@Html.DisplayFor(model => model.Director) @Html.DisplayFor(model => model.ReleaseDate)</h4>
                <span class="minutes">@Html.DisplayFor(model => model.Duration) min</span>
                <p class="type">@Html.DisplayFor(model => model.Genre.Name)</p>
            </div>
            <div class="movie_desc">
                <p class="text">
                    Los primeros años del burro Baltasar fueron felices junto a Marie. Al crecer Marie, los separan y el burro tiene varios dueños que lo explotan y maltratan.
                    Finalmente, el destino de Marie queda irresuelto, mientras que el de Baltasar es esclarecido.
                </p>
            </div>
            <div class="movie_social">
                <ul>
                    <li><i class="fas fa-share-alt"></i></li>
                    <li><i class="fas fa-heart"></i></li>
                    <li><i class="fas fa-edit"></i></li>
                    <li><i class="fas fa-times"></i></li>
                </ul>
            </div>
        </div>
        <div class="blur_back bright_back">
            <div class="play_btn">
                <i class="fas fa-play-circle"></i>
            </div>
        </div>
    </div>*@


