@model MovieShareCore.ViewModels.DirectorViewModel

@{
    ViewData["Title"] = "Details";
}

<ul id="navlist">
    <li><a href="#">Director</a></li>
    <li><a href="#">Details</a></li>
</ul>

<div class="form-create">
    <h1>Director details!<span>All you need to know!</span></h1>
    <dl class="inner-wrap">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birthdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Knowfor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Knowfor)
        </dd>
    </dl>
    <div class="form-group action-button">
        <a asp-action="Edit" asp-route-id="@Model.Id"> <input type="button" value="Edit" /></a>
        <a asp-action="Index"><input type="button" value="OK" /></a>
    </div>
</div>



