@model IEnumerable<MovieShareCore.ViewModels.DirectorViewModel>

@{
    ViewData["Title"] = "Index";
}

<ul id="navlist">
    <li><a asp-action="Index">Director</a></li>
</ul>

<p style="margin-top: 20px; margin-bottom: 20px;">
    <a asp-action="Create">
        <button class="icon-btn add-btn">
            <div class="add-icon"></div>
            <div class="btn-txt">Add Director</div>
        </button>
    </a>
</p>

<table id="table-custom">
    <thead>
        <tr>
            <th class="text-left">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Knowfor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-left">
                    @Html.ActionLink(item.Name, "Details", "Director", new { id = item.Id }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Knowfor)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" tooltip="Details" flow="up">
                        <i class="text-info fas fa-eye icons-crud"></i>
                    </a>
                    <a asp-action="Edit" asp-route-id="@item.Id" tooltip="Edit" flow="up">
                        <i class="text-secondary fas fa-edit icons-crud"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" tooltip="Delete" flow="up">
                        <i class="text-danger fas fa-trash-alt icons-crud"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
